:root {
	--darkest-green: #002400;
	--dark-green: #273b09;
	--neutral-green: #58641d;
	--light-green: #7b904b;
	--light: #dbd2e0;
	--header-font: font-family: 'Actor', sans-serif;
	--body-font: font-family: 'Candal', sans-serif;
}

html {
	background-color: var(--light);
}

img {
	width: 100%;
}

.adjust-punct {
	margin-left: -5px;
}
