/* Global */
:root {
	--darkest-green: #002400;
	--dark-green: #273b09;
	--neutral-green: #58641d;
	--light-green: #7b904b;
	--light: #dbd2e0;
	--header-font: "Actor";
	--body-font: "Candal";
}

html {
	background-color: var(--light);
	font-family: var(--body-font), sans-serif;
}

html h1 {
	font-family: var(--header-font), sans-serif;
}


img {
	width: 100%;
}

/* Home page css - park list */
.park {

}

.title-state {
	font-style: italic;
}


.adjust-punct {
	margin-left: -5px;
}

/* Detail Page CSS */
.detail-page{
	font-family: var(--body-font);
	background-color: var(--light);
	
}
.dp-detail-title {
	font-size: 50px;
	text-align: center;
	grid-area:title;

}

.dp-detail-title .dp-title-state{
	text-align: right;
}


.dp-park-detail-img{
	width: 60%;
	padding-left: 20%;
	grid-area: detail-park-image;
}

.dp-details{
	grid-area: details;
	display: flex;
	justify-content: left;
	flex-direction: column;
	align-items: left;

}

.five-day-forecast{
	grid-area: weather;
	display: grid;
	grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
	grid-template-areas: 
	"date date date date date"
	"image image image image image"
	"temps temps temps temps temps"
	"tips tips tips tips tips";
	grid-column-gap: 15px;
}
.weather-logo{
	grid-area: image;
	width: 100%;
}
#date{
	grid-area: date;
}
.temps {
	grid-area: temps;
}
.tips{
	grid-area: tips;
}
div.detail-page{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"title title"
	"detail-park-image detail-park-image"
	"details details"
	"weather weather";
	

}












